##########################################################
#
# Environment variables for Sybase ASE server(s) startup
#
###########################################################

# SAMPLE file
#	You should copy this file to /opt/sybase/SYBASE-<server name>.env
#
#	Variable starting with SDsybase__ prefix are used in the systemd units

# Set the number of network connections for BackupServer
SDsybase__BS_network_connections=15

# Set the number of server connections for BackupServer
SDsybase__BS_server_connections=10
