[Unit]
Description=Sybase overall target

Requires=network-online.target time-sync.target remote-fs.target
After=network-online.target time-sync.target remote-fs.target

Conflicts=shutdown.target

[Install]
WantedBy=default.target