[Unit]
Description=Sybase overall target

Requires=multi-user.target network-online.target time-sync.target
After=multi-user.target network-online.target time-sync.target

Conflicts=shutdown.target

[Install]
WantedBy=default.target