[Unit]
Description=Sybase services target for %I

Requires=network-online.target time-sync.target
After=network-online.target time-sync.target remote-fs.target

Conflicts=sybase-shutdown.target
Conflicts=shutdown.target

PartOf=sybase.target

[Install]
WantedBy=default.target
WantedBy=sybase.target
