policy_module(sybase, 0.6.0)

########################################
#
# Requires
#
########################################

gen_require(`
    attribute   unconfined_domain_type;
    attribute   initrc_transition_domain;
    attribute   confined_admindomain;
    attribute   domain;
    attribute   filesystem_type;
    attribute   non_security_file_type;

    type        unconfined_t;
    type        unconfined_service_t;
    type        initrc_t;
    type        init_t;
    
    type        sysadm_t;
    type        dbadm_t;

    type        tmpfs_t;
    type        locale_t;
    type        user_home_dir_t;

    role        unconfined_r;
    role        dbadm_r;
    role        sysadm_r;

    role        system_r;
')

########################################
#
# Declarations
#
########################################

gen_bool(sybase_allow_usr_writes, false)

attribute sybase_domain;
attribute sybase_client_domain;

attribute sybase_db_type;
attribute sybase_file_type;
attribute sybase_exec_type;
attribute sybase_port_type;

type sybase_usr_t;
type sybase_bin_t;
type sybase_lib_t;
type sybase_auth_t;
type sybase_conf_t;
type sybase_dynconf_t;
type sybase_var_t;
type sybase_run_t;
type sybase_tmp_t;
type sybase_log_t;
type sybase_db_t;

type sybase_install_exec_t;
type sybase_install_tmp_t;

type sybase_unit_file_t;

type  sybase_port_t;

#
## Application domain definition
#

systemd_domain_template(sybase)
role  system_r  types sybase_domain;

#
## Domain for Sybase installation and configuration
#
role    sybase_install_r;
type    sybase_install_t;
domain_type(sybase_install_t)
domain_entry_file(sybase_install_t, sybase_install_exec_t)

domtrans_pattern(sysadm_t,      sybase_install_exec_t, sybase_install_t)
domtrans_pattern(unconfined_t,  sybase_install_exec_t, sybase_install_t)
domtrans_pattern(dbadm_t,       sybase_install_exec_t, sybase_install_t)

domtrans_pattern(sybase_install_t, sybase_exec_t, sybase_t)

#
## Role transition to sybase_install_r for installation phases
#

role    unconfined_r        types   sybase_install_t;
role    unconfined_r        types   sybase_t;

role    sybase_install_r    types   sybase_install_t;
role    sybase_install_r    types   sybase_t;


allow   sysadm_r        sybase_install_r;
allow   dbadm_r         sybase_install_r;

role_transition sysadm_r        sybase_install_exec_t   sybase_install_r;
role_transition dbadm_r         sybase_install_exec_t   sybase_install_r;

########################################
#
# Attribute associations
#
########################################

typeattribute sybase_t sybase_domain;
typeattribute sybase_exec_t sybase_exec_type;
typeattribute sybase_exec_t sybase_file_type;

typeattribute sybase_install_t sybase_domain;
typeattribute sybase_install_exec_t sybase_exec_type;
typeattribute sybase_install_exec_t sybase_file_type;

corecmd_executable_file(sybase_bin_t)
typeattribute sybase_bin_t sybase_file_type;

files_type(sybase_usr_t)
typeattribute sybase_usr_t sybase_file_type;

files_type(sybase_lib_t)
typeattribute sybase_lib_t sybase_file_type;

files_auth_file(sybase_auth_t)
typeattribute sybase_auth_t sybase_file_type;

files_config_file(sybase_conf_t)
typeattribute sybase_conf_t sybase_file_type;

files_config_file(sybase_dynconf_t)
typeattribute sybase_dynconf_t sybase_file_type;

files_type(sybase_var_t)
typeattribute sybase_var_t sybase_file_type;

files_type(sybase_run_t)
typeattribute sybase_run_t sybase_file_type;

files_tmp_file(sybase_tmp_t)
typeattribute sybase_tmp_t sybase_file_type;

files_tmp_file(sybase_install_tmp_t)
typeattribute sybase_install_tmp_t sybase_file_type;

logging_log_file(sybase_log_t)
typeattribute sybase_log_t sybase_file_type;

files_type(sybase_db_t)
typeattribute sybase_db_t sybase_db_type;

systemd_unit_file(sybase_unit_file_t);

corenet_port(sybase_port_t)
typeattribute sybase_port_t sybase_port_type;

########################################
#
# Accesses
#
########################################

#
## Generic permissions for Sybase domains
#

kernel_read_system_state(sybase_install_t)
kernel_search_proc(sybase_install_t)

files_read_etc_files(sybase_domain)
sysnet_read_config(sybase_domain)

corecmd_read_bin_files(sybase_domain)
corecmd_exec_bin(sybase_domain)
corecmd_exec_shell(sybase_domain)

files_read_var_files(sybase_domain)
files_read_var_symlinks(sybase_domain)
files_read_var_lib_files(sybase_domain)

files_search_locks(sybase_domain)

libs_exec_lib_files(sybase_domain)
libs_use_shared_libs(sybase_domain)

files_list_tmp(sybase_domain)
files_list_var(sybase_domain)

fs_read_cgroup_files(sybase_domain)

fs_getattr_xattr_fs(sybase_domain)

dev_read_rand(sybase_domain)

auth_read_passwd(sybase_domain)
fs_getattr_tmpfs(sybase_domain)

hostname_exec(sybase_domain)
iptables_exec(sybase_domain)
mount_exec_fusermount(sybase_domain)

corenet_tcp_bind_generic_node(sybase_t)
corenet_tcp_sendrecv_generic_node(sybase_t)

logging_send_syslog_msg(sybase_t)
logging_send_audit_msgs(sybase_t)

#
## Common permissions for installation and run time
#

allow sybase_domain  sybase_file_type:dir           list_dir_perms;
allow sybase_domain  sybase_file_type:file          read_file_perms;
allow sybase_domain  sybase_file_type:lnk_file      read_lnk_file_perms;
allow sybase_domain  sybase_file_type:fifo_file     manage_fifo_file_perms;
allow sybase_domain  sybase_file_type:sock_file     manage_sock_file_perms;

allow sybase_domain  sybase_exec_type:file          exec_file_perms;

allow sybase_domain  sybase_dynconf_t:file          manage_file_perms;

allow sybase_domain  sybase_bin_t:file              exec_file_perms;
allow sybase_domain  sybase_lib_t:file              exec_file_perms;

allow sybase_domain  sybase_tmp_t:dir               manage_dir_perms;
allow sybase_domain  sybase_tmp_t:file              manage_file_perms;

allow sybase_domain  sybase_var_t:dir               { create_dir_perms rw_dir_perms };

allow sybase_domain  sybase_run_t:dir               { create_dir_perms rw_dir_perms };
allow sybase_domain  sybase_run_t:file              manage_file_perms;

allow sybase_domain  sybase_log_t:dir               { create_dir_perms add_entry_dir_perms };
allow sybase_domain  sybase_log_t:file              { create_file_perms append_file_perms };

#
## Specific permissions for sybase_t domain on sybase related objetcs
#

allow sybase_t  sybase_db_type:dir          rw_dir_perms;
allow sybase_t  sybase_db_type:file         manage_file_perms;
allow sybase_t  sybase_db_type:lnk_file     manage_lnk_file_perms;

allow sybase_t  sybase_port_type:tcp_socket { name_bind name_connect };

#
## Installation permissions
#

corenet_out_generic_if(sybase_install_t)
corenet_out_generic_node(sybase_install_t)

allow sybase_install_t  self:udp_socket             { create ioctl connect getattr setopt };
allow sybase_install_t  self:process                setsched;


allow sybase_install_t  sybase_install_tmp_t:dir        manage_dir_perms;
allow sybase_install_t  sybase_install_tmp_t:file       manage_file_perms;
allow sybase_install_t  sybase_install_tmp_t:file       exec_file_perms;
allow sybase_install_t  sybase_install_tmp_t:lnk_file   manage_lnk_file_perms;
allow sybase_install_t  sybase_install_tmp_t:fifo_file  manage_fifo_file_perms;
allow sybase_install_t  sybase_install_tmp_t:sock_file  manage_sock_file_perms;
filetrans_add_pattern(sybase_install_t,   tmp_t,     sybase_install_tmp_t, { dir file sock_file fifo_file })

allow sybase_install_t  sybase_db_type:dir          create_dir_perms;

allow sybase_install_t  sybase_file_type:dir        manage_dir_perms;
allow sybase_install_t  sybase_file_type:file       manage_file_perms;
allow sybase_install_t  sybase_file_type:lnk_file   manage_lnk_file_perms;
allow sybase_install_t  sybase_file_type:fifo_file  manage_fifo_file_perms;
allow sybase_install_t  sybase_file_type:sock_file  manage_sock_file_perms;

allow sybase_install_t  sybase_db_type:dir          { list_dir_perms create_dir_perms add_entry_dir_perms };
allow sybase_install_t  sybase_db_type:file         getattr_file_perms;
allow sybase_install_t  sybase_db_type:lnk_file     read_lnk_file_perms;

allow sybase_install_t  sybase_port_t:tcp_socket    name_connect;

#
##
#

allow sybase_domain  self:process           { execmem setrlimit };

allow sybase_domain  sybase_domain:peer     recv;

allow sybase_domain  self:tcp_socket           create_stream_socket_perms;
allow sybase_domain  self:netlink_route_socket { bind create getattr nlmsg_read };


allow sybase_domain  self:sem        create_sem_perms;
allow sybase_domain  self:shm        create_shm_perms;
allow sybase_domain  self:msgq       create_msgq_perms;

allow sybase_domain  sybase_domain:msg        { receive send };

#
## Specific permissions for admin domains on sybase related objetcs
#

allow confined_admindomain  sybase_file_type:dir        list_dir_perms;
allow confined_admindomain  sybase_file_type:file       getattr_file_perms;
allow confined_admindomain  sybase_file_type:lnk_file   read_lnk_file_perms;
allow confined_admindomain  sybase_file_type:fifo_file  getattr_fifo_file_perms;
allow confined_admindomain  sybase_file_type:sock_file  getattr_sock_file_perms;

allow confined_admindomain  sybase_db_type:dir          list_dir_perms;
allow confined_admindomain  sybase_db_type:file         getattr_file_perms;
allow confined_admindomain  sybase_db_type:lnk_file     read_lnk_file_perms;

allow confined_admindomain  sybase_conf_t:file          read_file_perms;
allow confined_admindomain  sybase_dynconf_t:file       read_file_perms;
allow confined_admindomain  sybase_usr_t:file           read_file_perms;
allow confined_admindomain  sybase_var_t:file           read_file_perms;
allow confined_admindomain  sybase_run_t:file           read_file_perms;
allow confined_admindomain  sybase_bin_t:file           exec_file_perms;
allow confined_admindomain  sybase_lib_t:file           read_file_perms;
allow confined_admindomain  sybase_log_t:file           read_file_perms;

allow dbadm_t sybase_auth_t:dir           list_dir_perms;
allow dbadm_t sybase_auth_t:file          getattr_file_perms;
allow dbadm_t sybase_auth_t:lnk_file      read_lnk_file_perms;

allow dbadm_t sybase_conf_t:dir           manage_dir_perms;
allow dbadm_t sybase_conf_t:file          manage_file_perms;
allow dbadm_t sybase_conf_t:lnk_file      manage_lnk_file_perms;

allow dbadm_t sybase_dynconf_t:dir        manage_dir_perms;
allow dbadm_t sybase_dynconf_t:file       manage_file_perms;
allow dbadm_t sybase_dynconf_t:lnk_file   manage_lnk_file_perms;

allow dbadm_t sybase_var_t:dir            manage_dir_perms;
allow dbadm_t sybase_var_t:file           manage_file_perms;
allow dbadm_t sybase_var_t:lnk_file       manage_lnk_file_perms;

allow dbadm_t sybase_tmp_t:dir            manage_dir_perms;
allow dbadm_t sybase_tmp_t:file           manage_file_perms;
allow dbadm_t sybase_tmp_t:lnk_file       manage_lnk_file_perms;

allow dbadm_t sybase_log_t:dir            manage_dir_perms;
allow dbadm_t sybase_log_t:file           manage_file_perms;
allow dbadm_t sybase_log_t:lnk_file       manage_lnk_file_perms;

allow dbadm_t sybase_port_type:tcp_socket name_connect;

allow dbadm_t   sybase_unit_file_t:file     read_file_perms;
allow dbadm_t   sybase_unit_file_t:service  manage_service_perms;

allow sysadm_t  sybase_unit_file_t:file     read_file_perms;
allow sysadm_t  sybase_unit_file_t:service  manage_service_perms;

########################################
#
# File transitions
#
########################################

filetrans_pattern(unconfined_domain_type, sybase_db_t,  sybase_db_t,  { dir file lnk_file sock_file fifo_file })
filetrans_pattern(unconfined_domain_type, sybase_tmp_t, sybase_tmp_t, { dir file lnk_file sock_file fifo_file })
filetrans_pattern(unconfined_domain_type, sybase_var_t, sybase_var_t, { dir file lnk_file sock_file fifo_file })

filetrans_pattern(sybase_domain,       sybase_tmp_t,     sybase_tmp_t,       { dir file lnk_file sock_file fifo_file })
filetrans_pattern(sybase_domain,       sybase_run_t,     sybase_run_t,       { dir file lnk_file sock_file fifo_file })
filetrans_pattern(sybase_domain,       sybase_dynconf_t, sybase_dynconf_t,   file)

fs_tmpfs_filetrans(sybase_domain, sybase_tmp_t, { dir file lnk_file })

userdom_tmp_filetrans_user_tmp(sybase_t, { dir file lnk_file sock_file fifo_file })

filetrans_pattern(sybase_t,       sybase_db_t,      sybase_db_t,        { dir file lnk_file sock_file fifo_file })

filetrans_add_pattern(sybase_t,   { sybase_usr_t sybase_bin_t },    sybase_dynconf_t,   file )
filetrans_add_pattern(sybase_t,   sybase_conf_t,                    sybase_dynconf_t,   file )
filetrans_add_pattern(sybase_t,   sybase_log_t,                     sybase_log_t,       { dir file lnk_file } )

#
## Installation transisitions
#

filetrans_add_pattern(sybase_install_t,   sybase_usr_t,     sybase_conf_t,  dir,    "config" )
filetrans_add_pattern(sybase_install_t,   sybase_usr_t,     sybase_conf_t,  dir,    "conf" )
filetrans_add_pattern(sybase_install_t,   sybase_usr_t,     locale_t,       dir,    "locales" )

filetrans_add_pattern(sybase_install_t,   sybase_usr_t,     sybase_bin_t, dir, "bin" )
filetrans_add_pattern(sybase_install_t,   sybase_usr_t,     sybase_bin_t, dir, "bin32" )
filetrans_add_pattern(sybase_install_t,   sybase_usr_t,     sybase_bin_t, dir, "bin64" )
filetrans_add_pattern(sybase_install_t,   sybase_usr_t,     sybase_bin_t, dir, "scripts" )

filetrans_add_pattern(sybase_install_t,   { sybase_usr_t sybase_var_t },     sybase_bin_t, dir, "install" )

filetrans_add_pattern(sybase_install_t,   sybase_bin_t,     sybase_exec_t, file, "dataserver" )
filetrans_add_pattern(sybase_install_t,   sybase_bin_t,     sybase_exec_t, file, "backupserver" )
filetrans_add_pattern(sybase_install_t,   sybase_bin_t,     sybase_exec_t, file, "xpserver" )
filetrans_add_pattern(sybase_install_t,   sybase_bin_t,     sybase_exec_t, file, "diagserver" )
filetrans_add_pattern(sybase_install_t,   sybase_bin_t,     sybase_exec_t, file, "jsagent" )
filetrans_add_pattern(sybase_install_t,   sybase_bin_t,     sybase_exec_t, file, "srvbuildres" )

filetrans_add_pattern(sybase_install_t,   { sybase_usr_t sybase_bin_t },     sybase_lib_t, dir, "lib" )
filetrans_add_pattern(sybase_install_t,   { sybase_usr_t sybase_bin_t },     sybase_lib_t, dir, "lib32" )
filetrans_add_pattern(sybase_install_t,   { sybase_usr_t sybase_bin_t },     sybase_lib_t, dir, "lib64" )
filetrans_add_pattern(sybase_install_t,   { sybase_usr_t sybase_bin_t },     sybase_lib_t, dir, "lib3p" )
filetrans_add_pattern(sybase_install_t,   { sybase_usr_t sybase_bin_t },     sybase_lib_t, dir, "lib3p64" )
filetrans_add_pattern(sybase_install_t,   { sybase_usr_t sybase_bin_t },     sybase_lib_t, dir, "devlib" )
filetrans_add_pattern(sybase_install_t,   { sybase_usr_t sybase_bin_t },     sybase_lib_t, dir, "devlib32" )
filetrans_add_pattern(sybase_install_t,   { sybase_usr_t sybase_bin_t },     sybase_lib_t, dir, "devlib64" )
filetrans_add_pattern(sybase_install_t,   { sybase_usr_t sybase_bin_t },     sybase_lib_t, dir, "devlib3p" )
filetrans_add_pattern(sybase_install_t,   { sybase_usr_t sybase_bin_t },     sybase_lib_t, dir, "devlib3p64" )
filetrans_add_pattern(sybase_install_t,   { sybase_usr_t sybase_bin_t },     sybase_lib_t, dir, "rtlib" )

filetrans_add_pattern(sybase_install_t,   { sybase_usr_t sybase_var_t },    sybase_log_t,    dir,    "log" )
filetrans_add_pattern(sybase_install_t,   { sybase_usr_t sybase_var_t },    sybase_log_t,    dir,    "logs" )

filetrans_add_pattern(sybase_install_t,    sybase_usr_t,     sybase_var_t, dir, "data" )

filetrans_add_pattern(sybase_t,    sybase_var_t,  sybase_log_t,       dir,    "log" )
filetrans_add_pattern(sybase_t,    sybase_var_t,  sybase_log_t,       dir,    "logs" )

filetrans_add_pattern(sybase_domain,    sybase_var_t,  sybase_dynconf_t,   file,   ".rules" )
filetrans_add_pattern(sybase_domain,    sybase_var_t,  sybase_dynconf_t,   file,   "dumphist" )
filetrans_add_pattern(sybase_domain,    sybase_var_t,  sybase_dynconf_t,   file,   "interfaces" )
filetrans_add_pattern(sybase_domain,    sybase_var_t,  sybase_dynconf_t,   file,   "interf.old" )

delete_files_pattern(sybase_domain, sybase_var_t, sybase_dynconf_t)

# File transition are not allowed in conditional statements...
type_transition    sybase_t    sybase_usr_t:file    sybase_dynconf_t    ".rules";
type_transition    sybase_t    sybase_usr_t:file    sybase_dynconf_t    "dumphist";
type_transition    sybase_t    sybase_usr_t:file    sybase_dynconf_t    "interfaces";
type_transition    sybase_t    sybase_usr_t:file    sybase_dynconf_t    "interf.old";

if (sybase_allow_usr_writes) {
    create_files_pattern(sybase_t,    sybase_usr_t,   sybase_dynconf_t)
    write_files_pattern(sybase_t,     sybase_usr_t,   sybase_dynconf_t)
    delete_files_pattern(sybase_t,    sybase_usr_t,   sybase_dynconf_t)
}

########################################
#
# Permissions for local client domains
#
########################################

allow   sybase_client_domain    sybase_port_t:tcp_socket    name_connect;
    
allow   sybase_client_domain    sybase_file_type:{ dir file lnk_file }    getattr;
allow   sybase_client_domain    sybase_file_type:lnk_file                 read_lnk_file_perms;

allow   sybase_client_domain    sybase_usr_t:dir          list_dir_perms;
allow   sybase_client_domain    sybase_usr_t:file         read_file_perms;

allow   sybase_client_domain    sybase_conf_t:dir         list_dir_perms;
allow   sybase_client_domain    sybase_conf_t:file        read_file_perms;

allow   sybase_client_domain    sybase_dynconf_t:dir      list_dir_perms;
allow   sybase_client_domain    sybase_dynconf_t:file     read_file_perms;

allow   sybase_client_domain    sybase_lib_t:dir          list_dir_perms;
allow   sybase_client_domain    sybase_lib_t:file         read_file_perms;

allow   sybase_client_domain    sybase_bin_t:dir          list_dir_perms;
allow   sybase_client_domain    sybase_bin_t:file         exec_file_perms;

########################################
#
# Force transition to sybase_t domain
#
########################################

domtrans_pattern(initrc_transition_domain,  sybase_exec_t,  sybase_t)


allow initrc_transition_domain  sybase_t:process2       nosuid_transition;
allow initrc_t                  sybase_t:process2       nosuid_transition;

allow domain                    sybase_usr_t:dir        list_dir_perms;
allow domain                    sybase_usr_t:file       getattr;
allow domain                    sybase_usr_t:lnk_file   read_lnk_file_perms;
allow initrc_transition_domain  sybase_usr_t:file       read_file_perms;

#
##
#

domain_dontaudit_search_all_domains_state(sybase_t)

#
##
#

allow sybase_install_t  filesystem_type:filesystem  getattr;
allow sybase_install_t  non_security_file_type:dir  getattr_dir_perms;
allow sybase_install_t  non_security_file_type:file getattr_file_perms;

allow sybase_install_t  tmp_t:dir       del_entry_dir_perms;

allow sybase_install_t  locale_t:dir    { create_dir_perms add_entry_dir_perms };
allow sybase_install_t  locale_t:file   create_file_perms;

getattr_files_pattern(sybase_install_t, domain, domain)
auth_getattr_shadow(sybase_install_t)

NetworkManager_read_state(sybase_install_t)
dev_list_sysfs(sybase_install_t)
dev_read_sysfs(sybase_install_t)
fs_list_hugetlbfs(sybase_install_t)
fs_list_pstore(sybase_install_t)
fs_read_configfs_dirs(sybase_install_t)
udev_read_state(sybase_install_t)
kernel_read_network_state(sybase_install_t)
kernel_read_security_state(sybase_install_t)

corenet_tcp_connect_smtp_port(sybase_install_t)
corenet_tcp_connect_http_cache_port(sybase_install_t)

rpm_domtrans(sybase_install_t)
miscfiles_manage_localization(sybase_install_t)

userdom_list_user_home_dirs(sybase_domain)
userdom_manage_tmp_dirs(sybase_domain)
userdom_manage_tmp_files(sybase_domain)
userdom_manage_tmp_sockets(sybase_domain)
userdom_map_tmp_files(sybase_domain)

userdom_manage_user_home_content_dirs(sybase_install_t)
userdom_manage_user_home_content_files(sybase_install_t)
userdom_use_inherited_user_ptys(sybase_install_t)
userdom_delete_user_tmp_files(sybase_install_t)

allow sybase_install_t user_home_dir_t:file manage_file_perms;

#
##
#

permissive sybase_t;
